* {
  margin: 0;
  padding: 0;
}

main {
  margin: 10px 30px;
  min-height: 70vh;
}

.cabecalho-topo {
  margin-bottom: 30px;
  padding: 35px 30px;
  background-color: cornflowerblue;
}

.cabecalho-topo a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.cabecalho-topo span {
  color: tomato;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.8rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table a {
  text-decoration: none;
  padding: 5px 20px;
  background-color: darkcyan;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

ul {
  list-style: none;
}

li h2 {
  margin: 10px 0;
}

li p {
  text-align: justify;
  font-style: italic;
  margin: 0 10px;
}

.lista-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn {
  background-color: cornflowerblue;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 30px;
  text-decoration: none; 
  border: none;
  display: inline;
  width: 9rem;
  height: 1.5rem;
  text-align: center;
}

.btn-voltar {
  background-color: cadetblue;
}

.btn-elogio {
  background-color: gold;
}

.btn-reclamacao {
  background-color: firebrick;
}

.btn-outros {
  background-color: #194494;
}

.btn-usuarios {
  background-color: tomato;
}

.div-create {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.form-controle {
  background-color: rgb(246, 247, 248);
  border: none;
  border-bottom: 1px solid #000;
  padding: 15px 5px;
  width: 100%;
}

form label, button {
  display: block;
  margin: 0.4rem 0;
}

form input {
  padding: 0.6rem;
  display: block;
  width: 20rem;
  margin-bottom: 1rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-login-logout {
  padding: 0.5rem;
}

.container-login-logout a {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.container-login-logout a:hover {
  font-size: 1.5rem;
}

.message {
  padding: 1rem 2rem;
  background-color: tomato;
  color: #fff;
  font-weight: 600;
  width: 90vw;
}

.div-button {
  margin: 0 10px;
}
.rodape {
  margin: 20px;
  padding: 10px;
  text-align: right;
  border-top: 1px solid lightslategray;
}