
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
  }
  body {
    box-sizing: border-box;
    background-color: #fdfafa;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }

.menu{
    background-color: rgba(0, 0, 0, 0.776);
    display: flex;
    justify-content:space-between;
    height: 90px;
    width: 100%;
}

.menu img{
    width: 100px;
    margin-left: 30px;
    margin-bottom: 60px;
}

.lista li{
    margin: 0px 20px 0px auto;
  justify-items: right;
  display: inline-block;
  padding: 30px;
  transition: 1s; 
}

.lista li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
}

.lista li a:hover {
    opacity: 0.8;
    color: #0ba70b;
}

.btn{
    margin-top:20px;
    margin-bottom:20px ;
    margin-right: 50px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    color: rgb(255, 255, 255);
}

.btn:hover{
    opacity: 0.8;
    color: #0ba70b;
}

.box{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-4{
    color: black;
    height: 90px;
    padding: 20px 0;
}

.box p{
    color: black;
}

.container .card-body{
    height: 50%;
}
