@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0b061a;
}

.details-container{
    background: #fff;
    max-width: 700px;
    height: 350px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background:#fff;
}

.details{
    width: 300px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 4px;
    margin-right: 8px;
    padding: 16px;
    background:#fff;
}

.details dl{
    background: #fff;
}

.details dl dt{
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #666;
    background:#fff;
}

.details dl dd{
    margin-top: 4px;
    margin-bottom: 12px;
    color: #999;
    background:#fff;
}

.image{
    width: 400px;
    border: 1px solid #f0f0f5;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 16px;
    background:#fff;
}

.image img{
    max-width: 100%;
    height: auto;
}

.btn-voltar2{
    background: #ef5350;
    border: none;
    color: #fff;
    padding: 12px 12px;
    border-radius: 8px;
    margin-left: 1300px;
    margin-top: 10px;
    cursor: pointer;
    transform: background 0.3s;
}

.btn-voltar2:hover{
    background: #ef9a9a;

}

.alert-success{
    background: #c5e1a5;
    margin: 4px;
    padding: 12px;
    color: #7cb342;
}

.alert-error{
    background: #ffab91;
    margin: 4px;
    padding: 12px;
    color: #f4511e;
}

/*Painel Task*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #140b30;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  
  .board {
    background: #e0e0e0;
      max-width: 790px;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      padding: 12px;
      border-radius: 10px;
  }
  
  .menu_board {
    background-color: black;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    gap: 10px;
    opacity: 0.8;
  }
  .menu_board a {
    font-weight: bold;
    background-color: rgb(81, 236, 107);
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: black;
  }
  
  /* --- Area de adicionar tarefa --- */
  
  #todo-form {
    padding: 32px 32px 0;
    background: #ccc;
  }
  
  #todo-form input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
  
    border-radius: 4px;
    border: none;
  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
  
    font-size: 14px;
    outline: none;
  }
  
  #todo-form button {
    padding: 12px 32px;
  
    border-radius: 4px;
    border: none;
  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    background-color: rgb(81, 236, 107);
    color: black;
  
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* --- Cartões --- */
  
  .lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  
    padding: 24px 32px;
  
    overflow: scroll;
    height: 100%;
    background: #ccc;
  }
  
  .heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
    background: #f4f4f4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  
    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 40px;
  
    flex-shrink: 0;
  }

  .swim-lane h3{
    background: #f4f4f4;
  }
  
  /*--- task são os P ---*/
  .task {
    background-color: #ccc;
    color: black;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
  
    padding: 12px;
    border-radius: 4px;
  
    font-size: 16px;
    cursor: move;
  
    word-break: break-all;
    overflow: hidden;
    min-height: 40px;
    max-height: 500px;
  }

.lanes .swim-lane p span{
    background: #ccc;
    font-size: 20px;
  }
  
  .excluir{
    background-color: red;
    border: none;
    border-radius: 4px;
    padding:4px;
    outline: none;
    color:#f4f4f4;
    cursor: pointer;
    margin-left: 1px;
    
  }
  
  .editar{
    background-color: gray;
    display: block;
    border: none;
    border-radius: 4px;
    padding:4px;
    outline: none;
    color:#f4f4f4;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2px;
    
  }
  
  .is-dragging {
    scale: 1.05;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    background: rgb(50, 50, 50);
    color: white;
  }
  

